<div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" style="background-color:#EF4036 ;border-color:#EF4036 ;" href="javascript::void()"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
              <li>
                <a href="#">
                 <i class="fa fa-user" aria-hidden="true"></i>
                 </a>
              </li>
               <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out"></i> Logout
                    </a>
                </li>
            </ul>
            </nav>
        </div>
